body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
}

h1 {
    text-align: center;
}

input, button, label {
    font-size: 16px;
}

input {
    margin-top: 5px;
}

label {
    display: inline-block;
    float: left;
    width: 7em;
}
